.reviews {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px 0;
    /* border: 1px solid red; */
}

.r-one {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background: orange;
    -webkit-box-reflect: below 5px linear-gradient(transparent 60%, rgba(0,0,0,0.2));
    transition: all 0.4s;
}

.r-two {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background: rgb(0, 140, 255);
    -webkit-box-reflect: below 5px linear-gradient(transparent 60%, rgba(0,0,0,0.2));
    transition: all 0.4s;
}

.r-three {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background: rgb(255, 86, 114);
    -webkit-box-reflect: below 5px linear-gradient(transparent 60%, rgba(0,0,0,0.2));
    transition: all 0.4s;
}

.r-four {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background: rgb(1, 255, 1);
    -webkit-box-reflect: below 5px linear-gradient(transparent 60%, rgba(0,0,0,0.2));
    transition: all 0.4s;
}