.main-pic {
    height: 250px;
    width: 250px;
}

@media screen and (max-width: 800px) {
    .main-pic {
        height: 220px;
        width: 200px;
        float: right;
        shape-outside: url('./main.svg');
    }
}


@media screen and (max-width: 280px) {
    .main-pic {
        height: 120px;
        width: 200px;
        float: right;
        shape-outside: url('./main.svg');
    }
}

.main span {
    text-align: center;
    width: 100%;
    color:rgb(58, 58, 58);
    font-size: 3rem;
    letter-spacing: 0.7rem;
    animation: anim 2.1s linear infinite;
    animation-delay: 0.1s;
}

@keyframes anim {
    0%{color: #141414; text-shadow: none;}
    100%{color: #f3ff08; text-shadow: 0 0 9px #ffff17;}
} 