.bdg-four {
    --light:hsl(80, calc(60*1%), calc(55*1%));
    --dark:hsl(80, calc(60*1%), calc(55*1% - 15%));
    --darkest:hsl(80, calc(60*1%), calc(55*1% - 35%));
  }
  
  .bdg-four .color {
    background: -moz-linear-gradient(0deg, var(--dark) 0%, hsl(80, calc(60*1%), calc(55*1%)) 9%, var(--dark) 17%, var(--darkest) 51%, var(--dark) 82%, hsl(80, calc(60*1%), calc(55*1%)) 91%, var(--dark) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--dark)), color-stop(9%, hsl(80, calc(60*1%), calc(55*1%))), color-stop(17%, var(--dark)), color-stop(51%, var(--darkest)), color-stop(82%, var(--dark)), color-stop(91%, hsl(80, calc(60*1%), calc(55*1%))), color-stop(100%, var(--dark))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(113,153,18,1) 0%, rgba(150,204,24,1) 9%, rgba(113,153,18,1) 17%, rgba(51,69,8,1) 51%, rgba(113,153,18,1) 82%, rgba(150,204,24,1) 91%, rgba(113,153,18,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, var(--dark) 0%, hsl(80, calc(60*1%), calc(55*1%)) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, hsl(80, calc(60*1%), calc(55*1%)) 90%, var(--dark) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, var(--dark) 0%, hsl(80, calc(60*1%), calc(55*1%)) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, hsl(80, calc(60*1%), calc(55*1%)) 90%, var(--dark) 100%); /* ie10+ */
    background: linear-gradient(90deg, var(--dark) 0%, hsl(80, calc(60*1%), calc(55*1%)) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, hsl(80, calc(60*1%), calc(55*1%)) 90%, var(--dark) 100%); /* w3c */
  }
  
  .bdg-four .ribbon {
    height: 70px;
    width:100%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border-bottom: 1px solid var(--dark);
  }
  
  .bdg-four  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
  }
  
  .bdg-four .badge-space {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .bdg-four .badge {
      --size: 100px;
      --light: #fcfaed;
      --dark: #d5d4ca;
      align-self: center;
      width: var(--size);
      height: var(--size);
      border-radius: var(--size);
      z-index: 1;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: 5px 5px 10px 
        rgba(50,50,50, 0.2), 
        inset 10px 0 20px hsl(80, calc(60*1%), calc(55*1%)), 
        inset -2px 0 20px      rgba(128,128,128,0.5);
  }